<div class="modal fade" id="newPlaylistCleaner" tabindex="-1" role="dialog" aria-labelledby="newPlaylistCleanerLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-center playlist-cleaner-title" id="newPlaylistCleanerLabel">Create a new playlist voting system</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= simple_form_for(PlaylistCleaner.new) do |f| %>
          <%= f.input :description  %>
          <%= f.input :spotify_playlist_id, as: :select, collection: @user_playlists, value_method: :id, label_method: :name %>
          <div data-controller="select2" class="form-group">

          <%= f.association :users, collection: @users, input_html: { class: "form-control", data: { target: "select2.multiSelect" } }, label_method: :email, value_method: :email, multiple: true %>
          </div>
          <div class="modal-footer d-flex justify-content-center">
            <%= f.submit "Start democrifying my playlist", class: "btn spotify-btn" %>
          </div>
        <% end %>

      </div>
    </div>
  </div>
</div>
