<div class="container-fluid">
  <div class="row">
    <div class="col-12 mt-4">
      <h1 class="text-center"><%= " #{@playlist_cleaner.description} en #{@playlist_cleaner.playlist_name}" %></h1>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col-12 col-sm-8 offset-sm-2">
      <div class="songs-list">
        <% @tracks.each do |track| %>
          <div
            class="song-item d-flex flex-wrap flex-sm-nowrap justify-content-start align-items-center mt-4 p-2 <%= "no-available" if track.is_playable == false %>"
            data-spotify-track-id="<%= track.id %>"
            data-controller="votes-loader"
            data-votes-loader-url="/playlist_cleaners/<%= @playlist_cleaner.id %>/tracks/<%= track.id %>"
            data-votes-loader-refresh-interval="5000"
          >
            <iframe class="embed-responsive-item" src="https://open.spotify.com/embed/track/<%= track.id %>" width="100%" height="80" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
            </iframe>
            <div class="w-100 d-flex justify-content-center p-3 align-items-end ml-2 flex-column" >
              <div
                class="votes-list w-100"
                data-target="votes-loader.list"
                >

              </div>
              <div data-target="votes-loader.actions" class="actions-btns w-100 text-center" <%= voted_by_current_user?(@user_votes, track.id) %>>
                <div class="btn-group dropup">
                  <a href="#" class="badge badge-pill badge-primary ml-1 dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Move to:
                  </a>
                  <div class="dropdown-menu">
                    <div class="badges-container w-75 mx-auto">
                    <p class="small font-weight-bold text-center">Relocate to:</p>
                      <% @user_colaborativ_playlists.each do |playlist| %>
                        <%= link_to playlist.name, vote_move_playlist_cleaner_track_path(@playlist_cleaner, track.id,spotify_playlist_id: playlist.id, spotify_playlist_name: playlist.name), method: :post, class: "w-100 badge badge-pill badge-primary mt-2 p-1", data: { action: "votes-loader#registerVote"} %>
                      <% end %>
                    </div>
                  </div>
                </div>
                <%= link_to "Delete", vote_delete_playlist_cleaner_track_path(@playlist_cleaner, track.id), method: :post, class: "badge badge-pill badge-danger ml-1"  %>
                <%= link_to "Add", vote_move_playlist_cleaner_track_path(@playlist_cleaner, track.id), class: "badge badge-pill badge-dark ml-1"  %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
